
.chat-header {
  background-color: var(--navbar-bg-color-default);
  color: white;
  border-bottom: 0.2vh solid #ccc;
  padding: 1vh;
  text-align: center;
}

.chat-form button {
  border: none;
  background-color: var(--chat-btn-color);
  color: white;
  padding: 0.5vh 1vh;
  cursor: pointer;
}
   
  .chat-form button:hover {
    background-color: var(--chat-bg-color);
  }
  
  
  .chat-container {
    position: fixed;
    bottom: 2vh;
    left: 2vh;
    display: flex;
    align-items: flex-end;
    z-index: 9999;
  }
  
  .chat-container button {
    display: flex;
    border: none;
    background-color:var(--chat-btn-color);
    color: white;
    padding: 0.5vh 1vh;
    cursor: pointer;
  }
  .chat-container button:hover {
    background-color: var(--chat-active-color);
    color: var(--navbar-text-color);
    transform: translateY(-0.5vh);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .chat-widget {
    width: 30vh;
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
    box-shadow: 0 0.2vh 1vh rgba(0, 0, 0, 0.1);
    display: none; /* hide the chat widget by default */
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-left: 1vh;
  }
  
  .chat-widget.show {
    display: flex;
  }
  
  .chat-header {
    background-color: --navbar-bg-color-default;
    color: white;
    border-bottom: 0.2vh solid #ccc;
    padding: 1vh;
    text-align: center;
  }
  
  
  .chat-form {
    display: flex;
    background-color: #f3d9d9;
    padding: 1vh;
    border-top: 0.1vh solid #ccc;
  }
  
  .chat-form input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0.5vh;
  }
  
  .chat-form button {
    border: none;
    background-color:--chat-btn-color;
    color: white;
    padding: 0.5vh 1vh;
    cursor: pointer;
  }
  


@media (min-width: 1400px) {




  main {
    max-width: 90%;
    padding: 1vw;
    background-color: #fff;
    box-shadow: 0px 0.77vw 1.5vw rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
    overflow: hidden;
    display: flex;
  }

  
.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  padding: 1vw;
  height: 22vw; /* Set a fixed height */
}


.about-charlie, .charlie-resume {
  padding: 2vw 1vw;
  background-color: var(--content-bg-color);
  margin: 2vw 3vw;
  border-bottom: 0.2vw solid #eee;
  box-shadow: 0 2vw 1vw rgba(0, 0, 0, 0.1);
}

.charlie-image {
  flex: 1;
  max-width: 40%;
  height: auto;
  margin-right: 2vw;
}

.charlie-section {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 3vw;
}

.charlie-image img {
  max-height: 77vh; 
  width: 100%; 
  border-radius: 0.77vw;
  object-fit: cover; 
}

.charlie-description {
  flex: 2;
  padding-left: 3vw; 
}

.charlie-description h2, .charlie-resume h2 {
  color: var(--navbar-text-color);
  font-size: 3.5vw;
  margin-bottom: 1vw;
  color: #333;
  
}

.charlie-description p, .charlie-resume p {
  color: var(--content-text-color);
  font-size: 2vw;
}




#funnyButton {
  width: 10vh; /* Ты можешь изменить размер по своему желанию */
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1); 
  position: relative;
}





.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1vw; /* расстояние между иконками */
  margin-top: 1vw;
}

@media (max-width: 767px) {
  .social-icons {
    justify-content: center;
    margin-top: 1.5vw;
  }
}


}
















/* на телефон */




@media (max-width: 1400px) {




  .chat-body {
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    padding: 1vw;
    height: 65vw; /* Set a fixed height */
  }

/* Общие стили */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}


/* Стили для секции о Чарли */
.about-charlie {
  background-color: #FFF;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2em 0;
}

.charlie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.charlie-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}


.charlie-description h2, .charlie-resume h2 {
  color: var(--navbar-text-color);
  font-size: 3.5vw;
  margin-bottom: 1vw;
  color: #333;
  
}

.charlie-description p, .charlie-resume p {
  color: var(--content-text-color);
  font-size: 2vw;
}

/* Стили для секции резюме */
.charlie-resume {
  background-color: #FFF;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2em 0;
} 
 

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1vw; /* расстояние между иконками */
  margin-top: 1vw;
}

  .social-icons {
    justify-content: center;
    margin-top: 1.5vw;
  }


#funnyButton {
  display: none;
}



}