
.chat-header {
    background-color: var(--chat-header-color);
  }
  
  .chat-form button:hover {
    background-color: var(--chat-bg-color);
  }
  
  
  .chat-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: flex-end;
    z-index: 9999;
  }
  
  .chat-container button {
    display: flex;
    border: none;
    background-color:var(--chat-btn-color);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  .chat-container button:hover {
    background-color: var(--chat-active-color);
    color: var(--navbar-text-color);
    transform: translateY(-5px);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .chat-widget {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none; /* hide the chat widget by default */
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-left: 10px;
  }
  
  .chat-widget.show {
    display: flex;
  }
  
  .chat-header {
    background-color: --navbar-bg-color-default;
    color: white;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .chat-body {
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    padding: 1vw;
    height: 18vw; /* Set a fixed height */
  }
  
  .chat-form {
    display: flex;
    background-color: #f3d9d9;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chat-form input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .chat-form button {
    border: none;
    background-color:--chat-btn-color;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  .about-charlie, .charlie-resume {
    padding: 2vw;
    background-color: var(--content-bg-color);
    margin: 2vw 0;
    box-shadow: 0 2vw 1vw rgba(0, 0, 0, 0.1);
  }
  
  .charlie-image {
    width: 40%;
    height: 40%;
    margin-right: 2vw;
  }
  
  .charlie-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 2vw;
  }
  
  .charlie-image img {
    max-height: 77vh; /* Это уменьшит высоту изображения */
    width: auto; /* Это сохранит пропорции изображения */
    border-radius: 0.5vw;
  }
  
  .charlie-description {
    width: 45%; 
    padding-left: 2vw; 
  }
  
  .charlie-description h2, .charlie-resume h2 {
    color: var(--navbar-text-color);
    font-size: 1.5vw;
    margin-bottom: 1vw;
  }
  
  .charlie-description p, .charlie-resume p {
    color: var(--content-text-color);
  }