
.chat-header {
  background-color: var(--navbar-bg-color-default);
  color: white;
  border-bottom: 0.2vh solid #ccc;
  padding: 1vh;
  text-align: center;
}

.chat-form button {
  border: none;
  background-color: var(--chat-btn-color);
  color: white;
  padding: 0.5vh 1vh;
  cursor: pointer;
}
   
  .chat-form button:hover {
    background-color: var(--chat-bg-color);
  }
  
  
  .chat-container {
    position: fixed;
    bottom: 2vh;
    left: 2vh;
    display: flex;
    align-items: flex-end;
    z-index: 9999;
  }
  
  .chat-container button {
    display: flex;
    border: none;
    background-color:var(--chat-btn-color);
    color: white;
    padding: 0.5vh 1vh;
    cursor: pointer;
  }
  .chat-container button:hover {
    background-color: var(--chat-active-color);
    color: var(--navbar-text-color);
    transform: translateY(-0.5vh);
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .chat-widget {
    width: 100vh;
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
    box-shadow: 0 0.2vh 1vh rgba(0, 0, 0, 0.1);
    display: none;  
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-left: 1vh;
  }
  
  .chat-widget.show {
    display: flex;
  }
  
  .chat-header {
    background-color: --navbar-bg-color-default;
    color: white;
    border-bottom: 0.2vh solid #ccc;
    padding: 1vh;
    text-align: center;
  }
  
  
  .chat-form {
    display: flex;
    background-color: #f3d9d9;
    padding: 1vh;
    border-top: 0.1vh solid #ccc;
  }
  
  .chat-form input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0.5vh;
  }
  
  .chat-form button {
    border: none;
    background-color:--chat-btn-color;
    color: white;
    padding: 0.5vh 1vh;
    cursor: pointer;
  }
  


@media (min-width: 1400px) {


  main {
    max-width: 90%;
    margin: 2vw auto;
    padding: 1vw;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}
  
.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  padding: 1vw;
  height: 22vw;  
}


.about-charlie  {
  padding: 2vw 1vw;
  background-color: var(--content-bg-color);
  margin: 2vw 3vw;
  border-bottom: 0.2vw solid #eee;
  box-shadow: 0 2vw 1vw rgba(0, 0, 0, 0.1);
}

.charlie-image {
  flex: 1;
  max-width: 40%;
  height: auto;
  margin-right: 2vw;
}

.charlie-section {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 3vw;
}

.charlie-image img {
  max-height: 77vh; 
  width: 100%; 
  border-radius: 0.77vw;
  object-fit: cover; 
}

.charlie-description {
  flex: 2;
  padding-left: 3vw; 
}

.charlie-description h2  {
  color: var(--navbar-text-color);
  font-size: 3.5vw;
  margin-bottom: 1vw;
  color: #333;
  
}

.charlie-description p  {
  color: var(--content-text-color);
  font-size: 2vw;
}




#funnyButton {
  width: 10vh;  
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1); 
  position: relative;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1vw;  
  margin-top: 1vw;
}






.charlie-resume {
  padding: 2vw 1vw;
  background-color: #F7F9FC;
  margin: 2vw 3vw;
  border-radius: 15px;
  box-shadow: 0 2vw 1vw rgba(0, 0, 0, 0.1);
}

.charlie-resume h2 {
  color: #333;
  font-size: 3.5vw;
  margin-bottom: 1vw;
}
 

.charlie-resume h3 {
  font-size: 2.5vw;
  color: #555;
  margin-top: 1.5vw;
  border-bottom: 1px solid #eee;
  transition: color 0.3s;
}

.charlie-resume h3:hover {
  color: #3498db;
}

.charlie-resume p {
  font-size: 1.5vw;
  transition: transform 0.3s;
}
 

  .resume-section ul {
    padding-left: 3vw;
    list-style-type: disc;
  }

  .resume-section li {
    font-size: 1.8vw;
    margin-bottom: 1vw;
    line-height: 1.4;
  }

  .resume-section a {
    color: #3498db;
    transition: color 0.3s;
  }

  .resume-section a:hover {
    color: #2c3e50;
    text-decoration: underline;
  }



.skill-card {
    border: 1px solid #e0e0e0;
    padding: 1vw;
    border-radius: 1.5vw;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
}

.skill-item {
  margin-bottom: 1.6vw;
}



.skill-card li {
  font-size: 1.4vw;
}






label {
  display: block;
  font-size: 1.5vw;
  margin-bottom: 5px;
  color: #555;
  transition: color 0.3s;
}

label:hover {
  color: #3498db;
}

.progress {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #3498db;
  transition: width 1.5s ease-in-out;
}


.skills-container {
  display: flex;
  justify-content: space-between;
  width: 77%; 
}
.projects-container {
  border: 2px solid #000;
  padding: 20px;
}

.project {
  border-bottom: 1px solid #ccc;
}

.details-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}


.project-details {
  font: 2em sans-serif;
}

}
































 


/* на телефон */




@media (max-width: 1400px) {




  .chat-body {
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    padding: 1vw;
    height: 65vw; 
  }
 
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

 
.about-charlie {
  background-color: #FFF;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2em 0;
}

.charlie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.charlie-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}


.charlie-description h2  {
  color: var(--navbar-text-color);
  font-size: 3.5vw;
  margin-bottom: 1vw;
  color: #333;
  
}

.charlie-description p  {
  color: var(--content-text-color);
  font-size: 2vw;
}
  
 

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1vw;  
  margin-top: 1vw;
}

  .social-icons {
    justify-content: center;
    margin-top: 1.5vw;
  }

#funnyButton {
  display: none;
}







.charlie-resume {
  padding: 2em 1em;
  background-color: #F7F9FC;
  margin: 2em 1em;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.charlie-resume h2 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.3s;
}

.charlie-resume h3 {
  font-size: 2em;
  color: #555;
  margin-top: 1em;
  border-bottom: 1px solid #eee;
  transition: color 0.3s;
}

.charlie-resume p {
  font-size: 1.2em;
  transition: transform 0.3s;
}

.skill-item {
  margin-bottom: 1em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #555;
  transition: color 0.3s;
}

.progress {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #3498db;
  transition: width 1.5s ease-in-out;
}

.resume-section ul {
  margin-left: 4vw;

}



.resume-section ul {
  margin-left: 4vw;
}







.resume-section li {
  margin-bottom: 1vw;

}





label {
  display: block;
  font-size: 4.5vw;
  margin-bottom: 1vw;
  color: #555;
  transition: color 0.3s;
}

label:hover {
  color: #3498db;
}

.progress {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #3498db;
  transition: width 1.5s ease-in-out;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.project:last-child {
  border-bottom: none;
}

h3 {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

h3:hover {
  background-color: #eee;
}

.project-details {
  font-size: 1rem;
  margin-top: 1vw;
  padding: 1vw;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.hidden {
  display: none;
}

  h3 {
      font-size: 1rem;
  }

  .project-details {
      font-size: 1.2rem;
  }


  .skills-container {
    justify-content: space-between;
    margin-bottom: 5vw;
  }
}