
.my-main-banner {
  width: 100%;
  background-color: #fffefe;
  position:fixed;
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
	top: -1vw;
}

.my-logo {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
	
}

.learnaboutMe {
  font-family: Cursive;
  color: black;
  margin-top: 10px;
}

.home-bt {
  text-align:center;
  text-decoration: none;
  font-family: 'PermanentMarker';
  position: relative;
  color: rgb(255, 255, 255);
  height: 3vw;
  width: 5vw;
  font-size: 2vw;
  letter-spacing:2.5px;
	top: -3vw;
}

.space {
 width: 2vw;
 height: auto;
 display: inline-block;
}


.skills-bt {
  text-align:center;
  text-decoration: none;
  font-family: 'PermanentMarker';
  position: relative;
  color: rgb(255, 255, 255);
  height: 2vw;
  width: 5vw;
  font-size: 2vw;
  letter-spacing:2.5px;	
  top: -3vw;
}

.btn-placement {
  position: absolute;
  right: 5vw;
  top: 22.5%;
  text-align:center;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}



.my-secondary-banner {
  width: 100%;
  background-color: #ffffff;
  background-image: url(../images/emptyBannerOptimized.png);
  
  background-repeat: no-repeat;
  background-size: 100%;
 
  /* position: fixed;*/
  background-position: 0px 50%;
  position: absolute;
  height: 26vw;
  top: 0;
  left:0;
}

.chat-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: flex-end;
  z-index: 9999;
}

.chat-container button {
  display: flex;
  border: none;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.chat-widget {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none; /* hide the chat widget by default */
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-left: 10px;
}

.chat-widget.show {
  display: flex;
}
.chat-header {
  background-color: hsl(0, 75%, 37%);
  color: white;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 10px;
  height: 300px; /* Set a fixed height */
}

.chat-form {
  display: flex;
  background-color: #f3d9d9;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-form input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
}

.chat-form button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.chat-form button:hover {
  background-color: #45a049;
}

.centered-block-Ed {
   text-align : center;
}

.centered-block-75-small-margin {
   text-align : center;
   margin-top: 5vw;
   margin-right: 13vw;
   margin-left: 13vw;
   margin-bottom: 3vw;
   word-wrap:break-word;
}

.title-block-75 {
   text-align : center;
   margin-top: 1vw;
   margin-right: 13vw;
   margin-left: 13vw;
   margin-bottom: 1vw;
   word-wrap:break-word;
}

.PermanentMarkerSmall {
  font-family: PermanentMarkerReg;
  font-size: 22px;
  font-weight: 6;
  margin-top: 3vw;
  -webkit-text-stroke-width: 1.0px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  word-wrap:break-word;
}

.PermanentMarkerMedium {
  font-family: PermanentMarkerReg;
  font-size: 25px;       
  font-weight: 5;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: red;
}

.empty-block{
 text-align : center;
 width: 30vw;
  margin-top: 3vw;
  margin-bottom: 3vw; 
}

.empty-block-banner-offset{
 text-align : center;
  margin-top: 25vw;
}

.centered-Image-resume {
   text-align : center;
   /*background-color: Red;*/
   width: 70vw;
   height:70vw;
}

hr.style1{
    position: relative;
    text-align:center;
    display: block;
    width: 75vw;
    height: 10px;
    border: 0;
    padding: 0;
    margin-top: 3vw;
}

.hide-scroll{
    overflow-y: scroll;
    overflow-x: hidden;
}
.hide-scroll::-webkit-scrollbar {
   
    display: none;
}


@font-face {
    font-family: HarngtonFont;
    src: url(../fonts/HARNGTON.TTF);
    font-weight: bold;
}

@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker.ttf);
    font-weight: bold;
}

@font-face {
    font-family: PermanentMarkerReg;
    src: url(../fonts/PermanentMarker.ttf);
    font-weight: regular;
}

@font-face {
    font-family: PARCHM;
    src: url(../fonts/PARCHM.TTF);
    font-weight: bold;
}

@font-face {
    font-family: MAGNETOB;
    src: url(../fonts/MAGNETOB.TTF);
    font-weight: bold;
}

@font-face {
    font-family: ArabDances;
    src: url(../fonts/ArabDances.ttf);
    font-weight: bold;
}

@font-face {
    font-family: arab3end;
    src: url(../fonts/arab3end.ttf);
    font-weight: bold;
}

@font-face {
    font-family: LCD-7;
    src: url(../fonts/LCD-7.ttf);
    font-weight: bold;
}