* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4; 
}

@font-face {
  font-family: "Minecraftia";
  src: url("fonts/Minecraftia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

footer {
  background-color: #1A1A1D;
  padding: 2vw 1vw;
  color: #FFF;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  flex-wrap: wrap; /* на маленьких экранах контент будет переноситься на новую строку */
}

.footer-content p {
  font-weight: 700; /* более жирный текст */
  margin: 0;
}

.footer-content h1 {
  font-size: 1vw;
  margin: 0;
}

.footer-content h1 span { /* добавляем иконки рядом с контактами */
  margin-right: 10px;
}

:root {
  --navbar-bg-color-default: #333;
  --navbar-text-color: #FFF;
  --navbar-text-active-bg-color:rgba(20, 20, 0, 0.1);;
  --navbar-text-active-color: #ebff33;
  --chat-bg-color: #FF5733;
  --chat-btn-color: #333;
  --chat-header-color: #222;
  --chat-active-color: #fc97ee;
  
  --content-bg-color: #FFF;
  --content-text-color: #555;
}

@media only screen and (min-width: 1200px) {
.custom-navbar {
  position: relative;
  z-index: 1000;
  background-color: var(--navbar-bg-color-default);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em;
}

.navbar-brand {
  color: var(--navbar-text-color);
  font-size: 2em;
  margin-left: 2vh;
}


.navbar-nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 2em;
  font-size: 1.69em;
}

.nav-link {
  text-decoration: none;
  color: var(--navbar-text-color);
  padding:   2vw; /* добавим паддинг */
  display: inline-block; /* чтобы паддинг и анимации применялись корректно */
  transition: transform 0.3s, background-color 0.3s; /* добавим анимацию на фон тоже */
  border-radius: 0.5vw; /* небольшой радиус для закругления углов */
}


.nav-item img{

  width: 15px;
  height: auto;
  padding: 0  0 0 0 ;
}



.nav-link:hover,
.nav-link:active,
.nav-link:focus {  
  color: var(--navbar-text-active-color);
  background-color: var(--navbar-text-active-bg-color); /* немного фона при наведении */
  transform: translateY(-5px);

}





}





@media only screen and (max-width: 1200px) {




  .custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1em;
    color: #FFF;
  }
  
  .navbar-brand {
    font-size: 1.5em;
  }
  
  .navbar-nav {
    list-style-type: none;
    
    white-space: nowrap;
    padding: 0;
  }
  
  .nav-item {
    display: inline;
  }
  
  .nav-link {
    text-decoration: none;
    color: #FFF;
    padding: 0.5em 1em;
    border-radius: 0.4vw;
    transition: background-color 0.3s;
  }
  


  .nav-link img{

    width: 15px;
    height: auto;
  }



  .nav-link:hover {
    background-color: #555;
  }


  .footer-content {
    flex-direction: column;
    text-align: center;
}


}